div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
}

body {
    background-color: purple;
}

@media screen and (max-width: 871px) {
    body {
        background-color: orange;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 673px) {
    body {
        background-color: blue;
    }
}