.accordion {
    background-color: white;
    color: #3F7D20;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion::after {
    content: "\02795";
    font-size: 20px;
    color: red !important;
    float: right;
    margin-left: 5px;
}

.active::after {
    content: "\2796"; 
}

.active, .accordion:hover {
    background-color: gainsboro;
}

.recipe {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

