div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
}

body {
    background-color: pink;
}

@media screen and (min-width: 628px){
    body{
        background-color: aquamarine;
    }
}

@media screen and (min-width: 812px){
    body{
        background-color: seagreen;
    }
}