body {
    background-color: aliceblue;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 28px
    grid-template-rows: 200px 1fr;
}
img {
    justify-self: center;
    align-self: center;
    width: 100%;
}
p {
    grid-column: 2/4;
}
header {
    grid-column: 2/-1;
}
footer {
    grid-column: 1/-1;
}